apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: app-web-session-cache
  namespace: app-web
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: app-web-session-home
  namespace: app-web
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 50Gi
